:root {
  --background-color: #2B303A;
  --font-color: #EEE5E9;
  --highlight-color:#6290C3; 
  --nav-bar-color: #1f2229;
}

body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0 0;
  background-color: var(--background-color);
  color: var(--font-color);
}